@mixin dock($spacing: $spacing * 0.0) {
    separator {
        border-radius: $radii;
        background-color: transparentize($fg-color, 0.6);
        margin: 0 $spacing;
        min-width: 0px;
        min-height: 0em;
    }

    button {
        @include accs-button($flat: true);

        .box {
            margin: 0px;
            min-width: 0px;
            min-height: 0em;
        }

        image {
            margin: 4px;

            @if $color-scheme == 'light' {
                -gtk-icon-shadow: $text-shadow;
            }
        }

        .indicator {
            min-width: 4px;
            min-height: 4px;
            background-color: $fg-color;
            //border-radius: $radii;
            margin-bottom: 0px;

            &.focused {
                background-image: $active-gradient;
            }
        }
    }
}

window.floating-dock .dock {
    @include dock;
    @include floating-widget;
    border-radius: 0px;
    padding: 0px;
    min-width: 0px;
    min-height: 0em;
}
