@use "sass:color";

.dock {
    @include floating-widget;
    border-radius: $radius;
    background-color: transparentize($bg, 0.02);
    min-width: 0;
    padding: 6;

    // Common styles for both PinnedApps and Taskbar buttons
    button {
        @include button($flat: true);
        border-radius: 0;
        padding: 2;

        .box {
            margin: 0em;
            min-width: 1em;
            min-height: 0em;
        }

        image {
            margin: 4px;
        }

         &.running-indicator {
            background-color: transparentize($bg, 0.02);
        }

        .indicator {
            background-color: transparentize($fg, 0.02);

            &.focused {
                background-color: transparentize($fg, 0.02);
            }
        }
    }
}

