@use "sass:color";

.dock {
    @include floating-widget;
    border-radius: $radius;
    min-width: 0;
    padding: 6;

    // Common styles for both PinnedApps and Taskbar buttons
    button {
        @include button($flat: true);
        background-color: $bg;
        border-radius: 0;
        padding: 1;

        .box {
            margin: 0em;
            min-width: 1em;
            min-height: 0em;
        }

        image {
            margin: 4px;
        }

         &.running-indicator {
            background-color: $bg;
        }

        .indicator {
            background-color: $bg;

            &.focused {
                background-color: $fg;
            }
        }
    }
}

