@use "sass:color";

.dock {
    @include floating-widget;
    border-radius: $radius;
    background-color: transparentize($bg, 0.07);
    min-width: 0;
    padding: 6;

    // Common styles for both PinnedApps and Taskbar buttons
    button {
        @include button($flat: true);
        border-radius: 4;
        padding: 2;

        .box {
            margin: 0em;
            min-width: 1em;
            min-height: 0em;
        }

        image {
            margin: 0px;
        }

        .indicator {
            background-color: transparentize($primary-bg, 0.3);
            border-radius: $radius;
            min-height: 2pt;
            min-width: 16pt;
            margin: 2pt;
        }
    }
}

.toolbox {
    @include floating-widget;
    border-radius: $radius;
    background-color: transparentize($bg, 0.07);
    min-width: 0;
    padding: 6;

    // Common styles for both PinnedApps and Taskbar buttons
    button {
        @include button($flat: true);
        border-radius: 0;
        padding: 0;

        image {
            margin: 0px;
            font-size: 52px;
        }

        &:hover,
        &:active,
        &:focus {
            // Override hover, active, and focus styles for buttons in .toolbox
            background-color: transparent;
            border: none;
            box-shadow: none;
            outline: none;
        }
    }
}
